@tailwind base;
@tailwind components;
@tailwind utilities;

header,
section,
footer {
  @apply phone:px-8 tablet:px-16;
}

.social-media {
  @apply w-12 h-12 rounded-full border flex justify-center items-center;
}

.social-media svg {
  @apply w-6;
}

.programming-skill {
  @apply phone:col-span-6 tablet:col-span-3 desktop:col-span-2 flex flex-col items-center gap-2;
}

.programming-skill > svg {
  @apply w-full;
}

.programming-skill > span {
  @apply text-xl;
}

.soft-skill {
  @apply flex flex-col items-center gap-2 tablet:col-span-2 desktop:col-span-1;
}

.soft-skill > img {
  @apply w-full;
}

.soft-skill > span {
  @apply text-xl text-center;
}

.project {
  @apply phone:col-span-12 tablet:col-span-6 desktop:col-span-4;
}

.project img {
  @apply w-full rounded-2xl mb-2;
}

.project h5 {
  @apply text-2xl font-bold mb-2;
}

.project > p {
  @apply text-base text-slate-500;
}

.header-scrolled {
  @apply bg-white/70 shadow-lg shadow-slate-200;
}

#hamburger {
  position: relative;
  background-color: transparent;
}

#hamburger > span {
  width: 26px;
  height: 2px;
  background-color: black;

  display: inline-block;

  position: absolute;
  right: 0px;
  transition: 300ms ease-in-out;
}

#hamburger > span:nth-child(1) {
  top: 1px;
}

#hamburger > span:nth-child(4) {
  bottom: 0px;
}

#hamburger.active > span:nth-child(1) {
  transform: scale(0) translateY(8px);
}

#hamburger.active > span:nth-child(2) {
  transform: rotate(45deg);
}

#hamburger.active > span:nth-child(3) {
  transform: rotate(-45deg);
}

#hamburger.active > span:nth-child(4) {
  transform: scale(0) translateY(-8px);
}

nav.active {
  @apply absolute flex top-full flex-col rounded-lg py-2 bg-white shadow-md shadow-slate-500 phone:col-start-8 phone:col-span-5 tablet:col-start-11 tablet:col-span-2 w-full items-center;
}
