* {
  font-family: 'Inter', sans-serif;
}

header,
section,
footer {
  padding: 0px 64px;
}

.social-media {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  border: solid 1px black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media svg {
  width: 24px;
}

.programming-skill {
  grid-column: span 2 / span 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.programming-skill > img {
  width: 100%;
}

.programming-skill > span {
  font-size: 20px;
  line-height: 32px;
}
